# OpenRouter (https://openrouter.ai)
OPENAI_BASE_URL="https://openrouter.ai/api/v1"
OPENROUTER_API_KEY=

# Модели
OPENROUTER_TRANSLATE_MODEL=poolside/laguna-xs-2.1
OPENROUTER_IMAGE_MODEL=x-ai/grok-imagine-image-quality
OPENROUTER_PLAGIARISM_MODEL=nvidia/llama-nemotron-reranker-1b-v2
